@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* PURPLE */
    --purple-50: #f3f2ff;	 
    --purple-100: #c8c2ff;	 
    --purple-200: #a491ff;	 	 	
    --purple-300: #8561ff;	 	 	
    --purple-400: #6b31ff;	 	 	
    --purple-500: #50f;	 	 	
    --purple-600: #4100cf;	 	 	 	 
    --purple-700: #30009f;		 	
    --purple-800: #210070;	 	 	
    --purple-900: #130040;	  	
    /* GRAY */
    --gray-50: #fff;
    --gray-100: #fafafa;	 
    --gray-200: #f5f5f5; 
    --gray-300: #e8e8e8;
    --gray-400: #d9d9d9;
    --gray-500: #bfbfbf;
    --gray-600: #8c8c8c;
    --gray-700: #595959;
    --gray-800: #262626;
    --gray-900: #000;	
    /* STANDARD COLORS */
    --primary-color: #50f;
    --secondary-color: #fff;
    --success-color: #52c41a;
    --error-color: #f5222d;
    --warning-color: #faad14;
    --main-background: #fafafa;
}

/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--main-background);
}

a {
    text-decoration: none;
    color: var(--purple-700);
}

a:hover {
    color: var(--purple-400);
}

td a {
    text-decoration: none;
    font-weight: 400;
    color: var(--gray-800); 
}

ul, ol {
    list-style: none;
}

input {
    outline: none;
    border: solid;
    border-color: var(--gray-500);
    border-radius: 10px;
    height: 35px;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 300;
}

button {
    border: none;
    border-radius: 10px;
    height: 45px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: var(--purple-600);
    color: var(--gray-300);
    width: 200px;
}

button:hover {
    background-color: var(--purple-400);
    color: var(--gray-100);
}

table tbody tr {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 200;
}

.loading {
    position: fixed;
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: var(--gray-800);
    opacity: .5;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
}

.hidden {
    display: none;
}

.max-width-outer {
    max-width: 800px;
}

.max-width-inner {
    max-width: 400px;
}

.btn-down {
    font-size: 1rem;
    border: solid;
    border-radius: 30px;
    text-align: center;
    background-color: var(--purple-600);
    color: var(--gray-300);
    border-color: var(--purple-500);
    max-width: 100px;
}

.btn-down:hover {
    cursor: pointer;
    background-color: var(--purple-400);
    color: var(--gray-100);
    border-color: var(--purple-500);
}

.icon {
    width: 1rem;
}