@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root { 	
    /* GRAY */
    --gray-50: #fff;
    --gray-100: #fafafa;	 
    --gray-200: #f5f5f5; 
    --gray-300: #e8e8e8;
    --gray-400: #d9d9d9;
    --gray-500: #909090;
    --gray-600: #505050;
    --gray-650: rgb(90, 90, 90, 0.2);
    --gray-700: #353436;
    --gray-800: #2D2C2E;
    --gray-900: #1E1E1F;	
    /* STANDARD COLORS */
    --primary-color: rgb(72, 92, 131);
    --secondary-color: #fff;
    --success-color: #52c41a;
    --error-color: #f5222d;
    --warning-color: #faad14;
    --main-background: #323234;
}

/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--main-background);
    color: var(--gray-200);
}

a {
    text-decoration: none;
    color: var(--gray-500);
}

a:hover {
    color: var(--gray-200);
}

table thead th {
    color: var(--gray-500); 
}

table tbody td {
    color: var(--gray-500); 
}

table tbody tr {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 200;
    border-color: var(--gray-600);
}

svg {
    fill: var(--gray-500);
}

svg:hover {
    fill: var(--gray-200);
}

td a {
    text-decoration: none;
    font-weight: 400;
    color: var(--gray-500); 
}

ul, ol {
    list-style: none;
}

input {
    outline: none;
    border: solid;
    border-color: var(--gray-500);
    border-width: .5px;
    background-color: var(--main-background);
    color: var(--gray-200);
    border-radius: 20px;
    height: 35px;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 300;
}

button {
    border: none;
    border-radius: 10px;
    height: 45px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: var(--gray-800);
    color: var(--gray-300);
    width: 200px;
}

button:hover {
    background-color: var(--gray-500);
    color: var(--gray-200);
}

.top-bar {
    cursor: default;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: var(--gray-900);
    color: var(--gray-500);
    opacity: 1;
}

.pt-bar {
    padding-top: 45px;
}

.icon {
    cursor: pointer;
    height: 1.5rem;
    opacity: 0.5;
    transition: 0.4s;
}

.icon-disabled {
    cursor: default;
    height: 1.5rem;
    opacity: 0.2;
    transition: 0.4s;
}

.icon:hover {
    opacity: 1;
}

.btn-icon {
    cursor: pointer;
    height: 1.2rem;
}

.icon-content {
    cursor: pointer;
    height: 3rem;
}

.icon-box {
    width: 40px;
    margin-left: .5rem;
    padding-right: 1rem;
}

.window-container {
    position: absolute;
    border-radius: 2rem;
    border: solid;
    border-width: 0.5px;
    border-color: var(--gray-600);
    overflow: auto;
    background-color: var(--gray-800);
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.2));
    padding-bottom: 2rem;
}

.window-head {
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    color: var(--gray-200);
    background: #353436;
    font-weight: 800;
    font-size: 1.2rem;
}

.window-labels {
    min-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--gray-500);
    font-weight: 300;
    border-style: solid;
    border-color: var(--gray-600);
    border-left: none;
    border-right: none;
    border-width: 0.5px;
}

.window-content {
    cursor: default;
    overflow: auto;
    color: var(--gray-500);
    margin-right: .5rem; /* SPACE RIGHT FOR SCROLL BAR */
    transition: .5s;
}

.window-content > div:hover {
    background-color: var(--gray-650);
}

/* width */
::-webkit-scrollbar {
    width: .8rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--gray-900); 
    border-radius: .8rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--gray-700); 
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--gray-600);
}

.border-right {
    border-style: solid;
    border-color: var(--gray-600);
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-width: 0.5px;
}

.max-width-outer {
    max-width: 800px;
}

.max-width-inner {
    max-width: 400px;
}

.btn-down {
    font-size: 1rem;
    border: solid;
    border-radius: 30px;
    text-align: center;
    background-color: var(--gray-500);
    color: var(--gray-200);
    border-color: var(--gray-600);
    max-width: 100px;
}

.btn-down:hover {
    cursor: pointer;
    background-color: var(--gray-200);
    color: var(--gray-500);
    border-color: var(--gray-600);
}

.hide {
    display: none;
}